<!--    
<ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" [routerLink]="['/']" >Login</a>
  </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/catalogo']">Catalogo</a>
  </li>
    <li class="nav-item">
      <a class="nav-link" [routerLink]="['/noexiste']">Link no existe</a>
    </li>
    <li class="nav-item">
      <a class="nav-link"  [routerLink]="['/holaaaaaaa']">otro link que no existe</a>
  </li>
</ul>
-->
<!--<app-header></app-header>
<app-login></app-login>
<app-catalog></app-catalog>    
<app-footer></app-footer>-->
<router-outlet></router-outlet>